.contact {
    margin-top: 88px;
    min-height: calc(100vh - 184px);
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 24px;
        img {
            margin-top: 48px;
            width: 56px;
        }
    }
    &__form{
        &__error{
            display:none;
            margin-bottom: 24px;
            text-align: center;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px;
        width: calc(100% - 48px);
        margin-left: 24px;
        margin-right: 24px;
        box-sizing: border-box;
        margin-top: 48px;
        @include breakpoint($desktop) {
            grid-template-columns: 1fr 1fr;
        }
    }
    textarea {
        height: 300px;
        vertical-align: text-top;
        // line-height:30px;
        &::-webkit-input-placeholder {
            // vertical-align:text-top;
            // margin-top:120px;
            line-height: 300px;
        }
    }
    .input__wrapper {
        border: 1px solid black;
        position: relative;
        label {
            position: absolute;
            top: -10px;
            background-color: white;
            left: 10px;
            padding: 0 4px;
        }
    }
    .formRow {
        position: relative;
        width: 100%;
        border: 0;
        padding: 8px 0;
        margin: 0;
        &--item {
            display: block;
            width: 100%;
        }
        &--input {
            box-sizing: border-box;
            position: relative;
            padding: 15px 20px 11px;
            width: 100%;
            outline: none;
            border: solid 1px rgb(149, 152, 154);
            border-radius: 4px;
            color: rgb(44, 50, 53);
            letter-spacing: 0.2px;
            font-weight: 400;
            font-size: 16px;
            resize: none;
            transition: all 0.2s ease;
            font-family: $headingFont;
            &-wrapper {
                position: relative;
                display: block;
                width: 100%;
                &.active {
                    .placeholder {
                        top: -5px;
                        background-color: #ffffff;
                        color: $cardRed;
                        text-transform: uppercase;
                        letter-spacing: 0.8px;
                        font-size: 11px;
                        line-height: 14px;
                        transform: translateY(0);
                    }
                    .formRow--input:not(:focus):not(:hover) {
                        & ~ .placeholder {
                            color: $cardRed;
                            font-family: $headingFont;
                        }
                    }
                }
                .formRow--input {
                    &:focus,
                    &:hover {
                        border-color: $cardRed;
                    }
                }
            }
        }
        textarea + .placeholder {
            top: 30px;
            // padding-bottom: 270px;
            // background-color: transparent;
        }
        .placeholder {
            position: absolute;
            top: 50%;
            left: 10px;
            display: block;
            padding: 0 10px;
            color: #707070;
            white-space: nowrap;
            letter-spacing: 0.2px;
            font-weight: normal;
            font-size: 16px;
            transition: all, 0.2s;
            transform: translateY(-50%);
            pointer-events: none;
            user-select: none;
            font-family: $headingFont;
        }
    }
}

.status__message {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    div.success{
        width: 100%;
        text-align: center;
        padding: 24px 0;
        color: $green;
    }
}

.send__button {
    padding: 12px;
    background-color: $cardYellow;
    margin-bottom: 32px;
    border-radius: 4px;
    outline: none;
    border: 0;
    text-transform: uppercase;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        color: $white;
        background-color: $purple;
        transition: 0.2s;
    }
}


.phone{
    &__section{
        margin: 24px 0;
    }
    &__form{
        display: flex;
        border: 1px solid rgb(149, 152, 154);
        background-color: white;
        border-radius:3px;
        justify-content: space-between;
        height: 38px;
        line-height: 25px;
        margin:8px 0;
    }
    &__container{
        padding:8px;
    }
    &__submit{
        border: 0;
        padding: 8px;
        background-color: $cardYellow;
        border-radius: 4px 0 0 4px;
        outline: none;
        border: 0;
        text-transform: uppercase;
        transition: 0.2s;
        &:enabled{
            // cursor: pointer;
        }
        &:hover:enabled {
            color: $white;
            background-color: $purple;
            transition: 0.2s;
        }
    }
}

.error__text{
    color:$red;
    margin:12px 0;
    font-family: $headingFont;
}

input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  }