@import './ui/colors';
@import './ui/typography';
@import './ui/layout';

@import './components/nav';
@import './components/home';
@import './components/services';
@import './components/about';
@import './components/about';