@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

@import './ui/colors';
@import './ui/typography';
@import './ui/layout';
@import './ui/screens';

@import './components/foote';
@import './components/loader';
@import './components/nav';
@import './components/home';
@import './components/services';
@import './components/about';
@import './components/work';
@import './components/skills';
@import './components/contact';