.about{
    h3{
        text-align: center;
    }
    &__content{
        width: calc(100% - 48px);
        margin-left:24px;
        margin-right: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:24px;
        & > div{
            
        }
    }
}