.about{
    h3{
        text-align: center;
    }
    &__content{
        width: calc(100% - 48px);
        margin-left:24px;
        margin-right: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:24px;
        margin-top:48px;
        margin-bottom:88px;
        @include breakpoint($mobVLarge){
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint($desktop){
            grid-template-columns: repeat(4, 1fr);
        }
        .col{
            display: flex;
            flex-direction: column;
        }
        img{
            width:100%;
            &.me{
                box-sizing: border-box;
                order: 1;
                margin-top:24px;
                @include breakpoint($mobVLarge){
                    padding: 60px;
                    order:unset;
                    margin-top:0;
                }
            }
        }
        .apple{
            order:1;
            // padding: 45px;
            box-sizing: border-box;
            margin-top:24px;
            @include breakpoint($mobVLarge){
                padding: 56px;
                order:unset;
                margin-top:0;
            }
        }
        p{
            text-align: center;
        }
        div+img{
            margin-top:24px;
        }
    }
}