.about{
    h3{
        text-align: center;
    }
    &__content{
        width: calc(100% - 48px);
        margin-left:24px;
        margin-right: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:24px;
        margin-top:48px;
        @include breakpoint($mobVLarge){
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint($desktop){
            grid-template-columns: repeat(4, 1fr);
        }
        .col{
            display: flex;
            flex-direction: column;
            &.me{
                order: 1;
                @include breakpoint($mobVLarge){
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
        img{
            width:100%;
            &.me{
                padding: 60px;
                box-sizing: border-box;
            }
        }
        .apple{
            padding: 45px;
            box-sizing: border-box;
        }
        p{
            text-align: center;
        }
        div+img{
            margin-top:24px;
        }
    }
}