.about{
    h3{
        text-align: center;
    }
    &__content{
        width: calc(100% - 48px);
        margin-left:24px;
        margin-right: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:24px;
        margin-top:48px;
@breakpoint()
        .col{
            display: flex;
            flex-direction: column;
        }
        img{
            width:100%;
        }
        .me{
            padding: 60px;
            box-sizing: border-box;
        }
        .apple{
            padding: 45px;
            box-sizing: border-box;
        }
        p{
            text-align: center;
        }
        div+img{
            margin-top:24px;
        }
    }
}