.contact {
    textarea{
        height:300px;
        vertical-align:text-top;
        // line-height:30px;
        &::-webkit-input-placeholder{
            // vertical-align:text-top;
            // margin-top:120px;
            line-height:300px;
        }
    }
    .input__wrapper {
        border: 1px solid black;
        position: relative;
        label {
            position: absolute;
            top: -10px;
            background-color: white;
            left: 10px;
            padding: 0 4px;
        }
    }
    .formRow {
        position: relative;
        width: 100%;
        border:0;
        &--item {
            display: block;
            width: 100%;
        }
        &--input {
            position: relative;
            padding: 15px 20px 11px;
            width: 100%;
            outline: none;
            border: solid 1px rgb(149, 152, 154);
            border-radius: 4px;
            color: rgb(44, 50, 53);
            letter-spacing: .2px;
            font-weight: 400;
            font-size: 16px;
            resize: none;
            transition: all .2s ease;
            &-wrapper {
                position: relative;
                display: block;
                width: 100%;
                &.active {
                    .placeholder {
                        top: -5px;
                        background-color: #ffffff;
                        color: #fd999a;
                        text-transform: uppercase;
                        letter-spacing: .8px;
                        font-size: 11px;
                        line-height: 14px;
                        transform: translateY(0);
                    }
                    .formRow--input:not(:focus):not(:hover) {
                        & ~ .placeholder {
                            color: #fec8c9;
                        }
                    }
                }
                .formRow--input {
                    &:focus,
                    &:hover {
                        border-color: #fd999a;
                    }
                }
            }
        }
        textarea + .placeholder{
                margin-bottom: 270px;
            
        }
        .placeholder {
            position: absolute;
            top: 50%;
            left: 10px;
            display: block;
            padding: 0 10px;
            color: rgb(149, 152, 154);
            white-space: nowrap;
            letter-spacing: .2px;
            font-weight: normal;
            font-size: 16px;
            transition: all, .2s;
            transform: translateY(-50%);
            pointer-events: none;
            user-select: none;
        }
    }
}
