.contact{
    .input__wrapper{
        border: 1px solid black;
        position: relative;
        label{
position: absolute;
top: -10px;
background-color: white;
left:10px;
padding: 0 
        }
    }
}