nav {
    ul {
        z-index:9;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 12px 0;
        background-color: $workGreyDark;
        position: fixed;
        width: 100%;
        top:0;
        li {
            list-style: none;
            a {
                color: $white;
                &.active {
                    color: $workGreyDark;
                }
            }
        }
    }
    .active{
        border-bottom: 3px solid yellow;
    }
}
