.site-wrapper.services__lead {
    background-color: $servicesBackground;
    transition: 2s;
    transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
    h1,
    h3,
    a.active {
        transition: 2s;
        color: $servicesText;
    }
    a {
        transition: 2s;
        color: $servicesNonActive;
    }
    h4 {
        color: $white;
    }
}

.services {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 12px;
        margin-left: 12px;
        margin-right: 12px;
        @include breakpoint($tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        margin-right: 12px;
        white-space: nowrap;
        h3 {
            margin-bottom: 0;
        }
    }
    &__card {
        max-height: 200%;
        width: 100%;
        // padding:24px;
        box-sizing: border-box;
        text-align: center;
        // box-shadow: 0px 0px 5px $workGreyMid;
        display: flex;
        @include breakpoint($mobVLarge) {
            max-height: 200px;
        }
        h3 {
            transform: rotate(-90deg);
        }
        p {
            font-size: 16px;
            line-height: 24px;
            @include breakpoint($mobVLarge) {
                max-height: 200px;
                font-size: 12px;
                line-height: 16px;
            }
            padding: 24px;
        }
    }
    &__dev {
        background-color: $cardYellow;
        color: $servicesBackground;
    }
    &__design {
        color: $white;
        h3 {
            color: $white;
        }
        background-color: $cardRed;
    }
    &__seo {
        color: $servicesBackground;
        background-color: $cardBlue;
    }
    &__hosting {
        color: $servicesBackground;
        background-color: $cardGreen;
        // background-color:red;
    }
}

.website__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    @include breakpoint($mobVLarge) {
        grid-template-columns: 1fr 1fr;
    }
    p {
        display: flex;
        align-items: center;
        margin-left: 24px;
    }
    // padding-top: 100%; /* 1:1 Aspect Ratio */
    img {
        display: flex;
        width: 100%;
        height: auto;
        @include breakpoint($mobVLarge) {
            width: 200px;
            height: 200px;
        }
        // position:  absolute;
        // top: 0;
        // left: 0;
        // bottom: 0;
        // right: 0;
        // text-align: center;
    }
}
