.site-wrapper.services__lead {
    background-color: $servicesBackground;
    transition: 2s;
    transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
    h1,
    h3,
    a.active {
        transition: 2s;
        color: $servicesText;
    }
    // a.active{
    //     color: $servicesGreen;
    // }
    a {
        transition: 2s;
        // color:$white;
        color: $servicesNonActive;
    }
    h4 {
        color: $white;
    }
}

.services {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        margin-right: 12px;

    }
    &__card {
        width: 100%;
        // padding:24px;
        box-sizing: border-box;
        text-align: center;
        // box-shadow: 0px 0px 5px $workGreyMid;
        display: flex;
        h4 {
            transform: rotate(-90deg);
        }
        p{
          padding:24px;
        }
        img {
            // margin: 24px 0;
            max-width: 156px;
            object-fit: cover;
        }
    }
    &__dev {
        background-color: $cardYellow;
        color: $servicesBackground;
    }
    &__design {
        color: $white;
        h4 {
            color: $white;
        }
        background-color: $cardRed;
    }
    &__seo {
        color: $servicesBackground;
        background-color: $cardBlue;
    }
    &__hosting {
        color: $servicesBackground;
        background-color: $cardGreen;
        // background-color:red;
    }
}

.website__container{
  background-color: red;
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}