.work{
    h3{
        margin-top:88px;
    }
    p{
        margin-bottom: 36px;
    }
    &__container{
        display:grid;
        grid-template-columns: repeat(3, auto);
        grid-row-gap: 12px;
        grid-column-gap: 28px;
        width: calc( 100% - 24px);
        margin-left:12px;
        margin-right:12px;
    }
    &__card{
        min-height: 300px;
        position: relative;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 5px $workGreyMid;
        border: 1px solid $workGreyDark;
        margin-top: 28px;
        &__content{
            padding: 200px 24px 24px 24px
        }
        a{
            position: absolute;
    width: 90%;
    margin-top: -15px;
    border: 1px solid $workGreyDark;
    box-shadow: 0px 0px 5px;
    margin-left:5%;
        }
    }
    &__overlay{
    position: absolute;
    background-color: $overlay;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        opacity: 0;
        transition:0.5s ease;
    }

    img{
        max-width:150px;
    }
    }
}