.work{
    h3{
        margin-top:88px;
    }
    p{
        margin-bottom: 36px;
    }
    &__container{
        display:grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 12px;
    }
    &__card{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 5px $workGreyMid;
        border: 1px solid $workGreyDark;
    }
    &__overlay{
    position: absolute;
    background-color: $overlay;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        opacity: 0;
        transition:0.5s ease;
    }

    img{
        max-width:150px;
    }
    }
}