.work {
    h2 {
        margin-bottom: 48px;
    }
    > p {
        // margin-bottom: 36px;
        padding: 48px;
    }
    &__badges {
        display: flex;
        position: absolute;
        padding: 4px;
        bottom: -20px;
    }
    &__badge {
        z-index:2;
        border: 1px solid $workGreyDark;
        background-color: $cardBlue;
        padding: 4px 8px;
        margin-left: 8px;
        border-radius: 3px;
        box-shadow: 0px 0px 5px $workGreyMid;
        font-size:14px;
        line-height:18px;
        &.wordpress{
            background-color: $workGreyMidNoOpac;
        }
        &.react{
            background-color: $cardRed;
            color: $white;
        }
        &.laravel{
            background-color: $cardYellow;
        }
        &.redux{
            background-color: $purple;
            color: $white;
        }
        p{
            margin:0;
        }
    }

    &__mobile{
        position: absolute;
        right: 5px;
        bottom: -60px;
        height: 200px;
        img{
            height: 200px;
            width: auto;
        }
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 56px;
        grid-column-gap: 16px;
        width: calc(100% - 24px);
        margin-left: 12px;
        margin-right: 12px;
        max-width:1440px;
        @include breakpoint($tablet){
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint($desktop){
            grid-row-gap: 28px;
            grid-template-columns: repeat(3, 1fr);
        }
        p{
            font-size:14px;
        }
    }
    &__card {
        min-height: 300px;
        position: relative;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 5px $workGreyMid;
        border: 1px solid $workGreyDark;
        margin-top: 28px;
        &__logo{
            display:flex;
            margin-bottom:16px;
        }
        &__content {
            padding:calc(100vw * 0.56 + 24px) 24px 0 24px;
            @include breakpoint($tablet){
                padding:calc(100vw * 0.27 + 24px) 24px 0 24px;
            }
            @include breakpoint($desktop){
                padding: calc(min(100vw / 5.66 + 28px,310px)) 24px 0 24px;
            }
            img {
                max-height: 36px;
                object-fit: contain;
                width: auto;
            }
        }
        &__link {
            position: absolute;
            width: 90%;
            margin-top: -15px;
            border: 1px solid $workGreyDark;
            box-shadow: 0px 0px 5px;
            margin-left: 5%;
        }
    }
    &__overlay {
        position: absolute;
        background-color: $overlay;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 0;
            transition: 0.5s ease;
        }

        img {
            max-width: 150px;
        }
    }
}

.maha__logo{
    max-width: 65%;
}