$brandText:#ff3e55;

$background: #021d44;

$white: #ffffff;

$yellow: #FCF5B3;

$green: #3f8584;

$red:#ff3e55;
//about me
$workGreyLight: #FAFAFA;

$workGreyMid: rgba(122,122,122,.64);;
$workGreyMidNoOpac: #e6e6e6;

$workGreyDark: #333333;

$overlay: rgba(255,255,255,0.9);

//services

$servicesBlack: #262934;

$servicesGreen: #04c2c9;

$servicesRed: #e31b6d;

// $servicesBackground: #0A2463;

// $servicesText: #FB3640;

// $cardYellow: #605F5E;

// $cardRed: #247BA0;

// $cardBlue: #E2E2E2;

// $cardGreen: #BBB6DF;

$servicesBackground: #39393A;

$servicesText: #AB92BF;

$servicesNonActive: #AFC1D6;

$cardYellow: #E9D758;

$cardRed: #297373;

$cardBlue: #FF8552;

$cardGreen: #E6E6E6;

$purple: 301934;

//skills
$black: #020101;

$brightYellow: #FAD505;