body, html{
    margin:0; 
    padding:0; 
    height:100%;
}

section{
    min-height: calc(100vh - 43px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
        margin-bottom:48px;
    }
}

main{
   background-color: #FAFAFA;;
   position: relative;
}

img{
    width:100%;
    
}

.grecaptcha-badge{
    position: absolute;
    bottom: 24px;
}