body, html{
    margin:0; 
    padding:0; 
    height:100%;
}

section{
    min-height: calc(100vh - 43px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}