$headingFont: 'Arvo', serif;

$bodyFont: 'Maven Pro', sans-serif;

h1, h2,h3, h4, h5, h6, a{
    margin:0;
    font-family: $headingFont;
    color: $brandText;
    font-weight: 700;
}

p, li, address, caption{
    margin:0;
    font-family: $headingFont; 
    // color: $white;
    font-weight: 400;
}

p{
    line-height: 24px;
    letter-spacing: 1px;
}

h1{
    font-size: 48px;
    text-align: center;
}
h3{
    // color: $yellow;
    font-size:24px;
}
h4{
    letter-spacing: 1px;
    line-height: 24px;
}

a{
    text-decoration: none;
}

.green{
    color:$green;
}

.yellow{
    color: $yellow;
}

.red{
    color: $red;
}